#:schema https://www.schemastore.org/any.json

allowed-duplicate-crates = [
  "getrandom",
  "thiserror",
  "thiserror-impl",
  "windows-sys",
  "windows-targets",
  "windows_aarch64_gnullvm",
  "windows_aarch64_msvc",
  "windows_i686_gnu",
  "windows_i686_gnullvm",
  "windows_i686_msvc",
  "windows_x86_64_gnu",
  "windows_x86_64_gnullvm",
  "windows_x86_64_msvc",
]

# Clippy's default only allows 2 segments, but I find 3 to be fine before
# requiring a `use` statement.
absolute-paths-max-segments = 3

# Tweaks specific targeting tests
allow-expect-in-tests = true
allow-panic-in-tests  = true
allow-print-in-tests  = true
allow-unwrap-in-tests = false

# List of words which Clippy thinks are code, but are not.
doc-valid-idents = [
  "..", # Defaults
]

disallowed-methods = []

disallowed-macros = [
  # Prefer the macros from the `pretty_assertions` crate
  "std::assert_eq",
  "std::assert_matches::assert_matches",
  "std::assert_matches::debug_assert_matches",
  "std::assert_ne",
]

# Prefer semi-colons inside blocks _except_ for single-line blocks
semicolon-inside-block-ignore-singleline = true
semicolon-outside-block-ignore-multiline = true
